button {
  background-color: transparent;
  border: none;
}

*,
body {
  box-sizing: border-box;
}

h5 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: normal;
}
